body{
  color:#ffffff;
  background-color:white;
  font-family: courier;
}
h3{
  color:black;
  font-size: 50px;
  font-family: courier;
}
.first-heading{
  background-color: #F9ED32;
}
p{
  color:black;
}
