body{
  background-color:white;
  color: black;
  margin: 0px;
  padding: 0px;
}
p{
  color:black;
}
.logo svg{
  fill:#F26552;
  width: 260px;
}
nav{
  font-family: 'Squada One', cursive;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0px;
  border-bottom: 3px #F26552 solid;
}
